@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    background: rgb(5,2,46);
    background: linear-gradient(90deg, rgba(5,2,46,1) 0%, rgba(11,11,75,1) 50%, rgba(37,4,75,1) 100%);
}

h1{
    font-family: VT323, sans-serif;
    text-align: center;
    font-size: 4rem;
    color: rgb(226, 168, 21);
    text-transform: uppercase;
}

p{
    font-family: VT323;
    color:rgb(226, 168, 21);
    text-align: center;
    font-size: 1.5rem;
}

.container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 9.5rem;
    margin-top: 3rem;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 50px;
}

.scoreboard p{
    font-size: 3rem;
}

.option{
    width: 150px;
    background-color: rgb(232, 224, 203);
    border: 5px solid rgba(154, 81, 12, 0.703);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.option img{
    width: 50%;
}

.option:hover{
    background-color: rgb(215, 199, 158);
}

#result{
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    padding: 1rem;
}

